name: bsd

on: workflow_dispatch

jobs:
  netbsd10-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - arch: x86_64
            netbsd_version: '10.0'
    steps:
      - uses: actions/checkout@v6
      - name: Build bash natively on NetBSD
        uses: cross-platform-actions/action@v0.27.0
        with:
          operating_system: netbsd
          version: ${{ matrix.netbsd_version }}
          shell: bash
          run: |
            sudo pkgin -y update
            sudo pkgin -y install autoconf gnupg2 curl mozilla-rootcerts
            # Configure GPG to reach keyservers from inside the QEMU VM
            #mkdir -p ~/.gnupg && chmod 700 ~/.gnupg
            #echo "keyserver hkps://keys.openpgp.org" > ~/.gnupg/gpg.conf
            #echo "keyserver hkps://keyserver.ubuntu.com" >> ~/.gnupg/gpg.conf
            ./build.sh netbsd ${{ matrix.arch }} --nosig
      - name: rename artifact
        run: |
          cd releases
          BASH_FILE=$(ls bash* | head -n 1)
          mv -v "$BASH_FILE" bash-NetBSD-${{ matrix.arch }}
      - uses: actions/upload-artifact@v6
        with:
          name: bash-NetBSD-${{ matrix.arch }}
          path: releases/bash-NetBSD-${{ matrix.arch }}
